.background {
    background: url("../Image/src_assets_img_background-louis-vuitton.svg") rgb(68, 52, 47);
}
.background-2 {
    background-color: white;
}

.title {
    color: white;
}
.badge-danger {
    margin: 1rem 0;
}

.two-block {
    margin: 3rem 0;
}

.text, .text1 {
    color: white;
}

.text2 {
    color: rgb(163, 124, 113);
}
.col-sm-2, .col-sm-3{
    color: rgb(163, 124, 113);
}



.badge {
    background-color: rgb(236, 43, 83)!important;
}
